<!-- Added Project List and Create Post tabs in the navigation bar under the Project webpage -->
<nav mat-tab-nav-bar>
    <!-- added resetSearch function that when this router link is processed, the search result will reset -->
    <a mat-tab-link (click)="resetSearch()" routerLink="/projects">Project List</a>
    <a mat-tab-link routerLink="/create">Create Post</a>
</nav>

<!-- search bar section -->
<mat-form-field class="search">
    <input type="text" matInput placeholder="Search" [(ngModel)]="search" (keyup.enter)="searchPost(search)">
    <button matSuffix mat-button (click)="searchPost(search)"><mat-icon>search</mat-icon></button>
  </mat-form-field>

<!-- display posts to users  -->
<mat-card *ngFor= "let post of posts | async">
    <mat-card-header>
        <!-- pid: username -->
      <mat-card-subtitle>Posted By: {{post.pid}}</mat-card-subtitle>
      <!-- time -->
      <mat-card-subtitle>Time: {{post.created}}</mat-card-subtitle>
      <!-- post title -->
      <mat-card-title>
        <a [routerLink]="['/post', post.id]">{{post.title}}</a>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <!-- post description  -->
      <p>{{post.description}}</p>
      <!-- post content  -->
      <p>{{post.content}}</p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
        <button mat-icon-button *ngIf="deleteAdminPermission$ | async" (click)="deletePost(post.id)">
            <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button *ngIf="(getDeleteUserPermission(post.pid) | async)" color="warn" (click)="deletePost(post.id)">
            <mat-icon>delete</mat-icon>
        </button>
        <!-- tags -->
        <a>Tags:  </a>
        <mat-chip>
            {{post.tags}}
        </mat-chip>
    </mat-card-actions>
    <mat-card-footer>
        <!-- comments -->
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Comments</mat-panel-title>
            </mat-expansion-panel-header>
        <mat-form-field class = "comment">
            <textarea rows = "3" 
            matInput 
            name = "content"
            placeholder= "Post Comments"
            ></textarea>
        </mat-form-field>
        <mat-action-row>
            <button mat-button color="primary">Add a Comment</button>
            <!-- added a function for private comments -->
            <button mat-button color="primary">Add a Private Comment</button>
        </mat-action-row>
    </mat-expansion-panel>
    </mat-card-footer>
  </mat-card>


<!-- <mat-accordion multi = "true">
    <mat-expansion-panel *ngFor= "let post of posts">
        <mat-expansion-panel-header>
            <mat-panel-title>{{post.title}}</mat-panel-title>
            <mat-panel-description>{{post.description}}</mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{post.content}}</p>
        <mat-form-field>
            <textarea rows = "4" 
            matInput 
            name = "content"
            placeholder= "Post Comments"
            ></textarea>
        </mat-form-field>
        <mat-action-row>
            <p class = "date">{{post.dateTime | date: 'MMM d, y, h:mm:ss a'}}</p>
            <button mat-button color="primary">Comment</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion> -->
