mat-form-field.search{
    width: 80%;
    margin-top: 3%;
    font-size: 16px;
}

mat-form-field.comment{
    width: 100%;
}

.create {
    font-size: 16px;
}

.post-card {
    position: absolute;
    width: 480px;
    height: 230px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-radius: 8px;
    margin: 16px; 
    padding-bottom: 16px;
  }

  .post-header {
    font-size: 14px;
  }

  .post-title {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: bold;
  }

  .post-content {
    font-size: 16px;
    padding-top: 8px;
    flex-grow: 1;
  }

  .post-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: auto;
    font-size: 14px;
    padding-top: 8px;
    padding-left: 17px;
  }
  
  .post-tags {
    font-size: 14px;
  }

  .post-chip {
    font-size: 14px;
    height: 24px;
  }

  .post-actions button {
    position: absolute;
    bottom: 0;
    right: 0;
  }