<br>
<div class="post">
    <div>
        <mat-grid-list cols="2" rowHeight="48px">
            <mat-grid-tile class="create">
                <button mat-raised-button routerLink="/create" color="lightblue">
                    <mat-icon>add</mat-icon>
                    Create Post
                  </button>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field class="search">
                    <input type="text" matInput placeholder="Type here to search..." [(ngModel)]="search" name="search" required (keyup.enter)="searchPost(search)">
                    <button matSuffix mat-button (click)="searchPost(search)"><mat-icon>search</mat-icon></button>
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <br>
    <div class="post-list">
        <mat-grid-list cols="2" rowHeight="280px">
            <mat-grid-tile *ngFor="let post of posts | async">
                <mat-card class="post-card">
                    <mat-card-header>
                        <mat-card-subtitle class="post-header">Posted By: {{getUserFullName(post) | async}}</mat-card-subtitle>
                        <mat-card-subtitle class="post-header">Time: {{ post.created | date: 'yyyy/MM/dd @hh:mm aaa' }}</mat-card-subtitle>
                        <mat-card-title class="post-title">
                            <a [routerLink]="['/post-details', post.id]" style="text-decoration: none; color:darkblue">{{ post.title }}</a>
                            </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="post-content">
                        <p>{{ post.description }}</p>
                        
                    </mat-card-content>
                    <mat-card-actions class="post-actions">
                        <div class="post-tags">
                            <a>Tags: </a>
                            <mat-chip [ngClass]="getPostTagClass(tag)" class="post-chip" *ngFor="let tag of post.tags">{{ tag }}</mat-chip>
                        </div>
                        <button mat-icon-button *ngIf="(deleteAdminPermission$ | async) || (getDeleteUserPermission(post.pid) | async)" (click)="deletePost(post.id)">
                             <mat-icon>delete</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    >
</div>