<h1>Create a Post</h1>
<mat-card>
    <form (submit) = "onSubmit">
        <mat-form-field>
            <input type="text" 
            matInput 
            name = "title"
            placeholder = "Post Title"
            >
        </mat-form-field>
        <mat-form-field>
            <input type = "Text"
            matInput 
            name = "id"
            placeholder= "Username"
            >
        </mat-form-field>
        <mat-form-field>
            <textarea rows = "2"
            matInput 
            name = "description"
            placeholder= "description"
            ></textarea>
        </mat-form-field>
        <mat-form-field>
            <textarea rows = "10"
            matInput 
            name = "details"
            placeholder= "Post Content"
            ></textarea>
        </mat-form-field>
        <button 
        mat-raised-button
        color = "blue"
        type="submit">Create Post</button>
    </form>
</mat-card>

<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <label for="id">Username</label>
        <input id="id" type="text" formControlName="id">
      </div>

    <div>
      <label for="title">Title</label>
      <input id="title" type="text" formControlName="title">
    </div>
    
    <div>
      <label for="description">Description</label>
      <input id="description" type="text" formControlName="description">
    </div>

    <div>
        <label for="details">Details</label>
        <input id="details" type="text" formControlName="details">
    </div>

    <div>
        <label for="comments">Comments</label>
        <input id="comments" type="text" formControlName="comments">
    </div>

    <button class="button" type="submit">Create Post</button>
</form> -->
