<!-- created routerlink tab of project list and create posts to the nav -->
<br>
<div class="post-home">
      <mat-grid-list cols="1" rowHeight="48px">
          <mat-grid-tile class="home">
              <button mat-raised-button routerLink="/projects">
                  <mat-icon>home</mat-icon>
                  All Posts
              </button>
          </mat-grid-tile>
      </mat-grid-list>
</div>
  <!-- form for user input of the posts  -->
  <div class="create-post-container">
    <mat-card>
      <!-- form for user input  -->
      <form (ngSubmit)="onPost(postForm)" #postForm="ngForm" *ngIf="(profile$ | async) !== undefined">
        <!-- title -->
            <mat-form-field appearance="outline" class="full-width custom-form-field" >
            <mat-label>Title</mat-label>
            <input type="text" matInput ngModel name="title" required #title="ngModel">
            </mat-form-field> 
        <!-- post description -->
        <mat-form-field appearance="outline" class="full-width custom-form-field"  >
        <mat-label>Description</mat-label>
          <textarea rows="2" type="text" matInput ngModel name="description" required #description="ngModel"></textarea>
        </mat-form-field>
        <!-- post content -->
        <mat-form-field appearance="outline" class="full-width custom-form-field">
            <mat-label>Content</mat-label>
          <textarea rows="8" type="text" matInput ngModel name="content" required #content="ngModel"></textarea>
        </mat-form-field>
        <!-- post tag -->
        <mat-form-field class="chip-list full-width custom-form-field" appearance="outline">
          <mat-label>Tags</mat-label>
          <mat-chip-grid #chipGrid aria-label="Tag selection">
            <mat-chip-row *ngFor="let tag of tags" (removed)="remove(tag)">
              {{tag}}
              <button matChipRemove [attr.aria-label]="'remove ' + tag">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          </mat-chip-grid>
          <input placeholder="Other tags..." #tagInput [formControl]="tagCtrl" [matChipInputFor]="chipGrid" [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)" />
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
              {{tag}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <div mat-dialog-actions align="center">
            <button mat-raised-button style="background-color: #4786C6; color: white;" type="submit">
                Create Post
            </button>
        </div>
      </form>
    </mat-card>
  </div>
  