.form-title {
    margin-bottom: 16px;
    margin-left: 20px;
    font-size: 1.60rem;
    font-weight: 400;
  }

.create-post-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
  }

 input {
    border-radius: 90px !important;;
  }
  
  .custom-form-field ::ng-deep .mat-form-field-outline {
    border-radius: 100px;
  }
  
  .custom-form-field ::ng-deep .mat-form-field-outline-thick {
    border-radius: 100px;
  }
  
  .custom-form-field ::ng-deep .mat-form-field-label-wrapper {
    top: 0;
  }
  
  .custom-form-field ::ng-deep .mat-form-field-label {
    transform: translateY(-50%);
  }

  .full-width {
    width: 100%;
  }

mat-card {
    padding: 15px;
    background-color: transparent;
    border-radius: 20px;
}

::ng-deep mat-form-field{
    background-color: transparent;
}

.post-home {
  z-index: 1;
  position: sticky;
  top: 1;
}

/* input {
    border-radius: 10px;
    border:none;
    width: 100%;
    box-shadow: none;
    height: 50px;
    margin-bottom: 20px;
    background-color: rgb(235, 238, 238);
    font-size: medium;
  }

  textarea {
    border-radius: 10px;
    border:none;
    width: 100%;
    box-shadow: none;
    height: 50px;
    margin-bottom: 20px;
    background-color: rgb(235, 238, 238);
    font-size: medium;
  } */

  /* ::-webkit-input-placeholder {
    -ms-text-align-last: left;
  }
  
  :-moz-placeholder {
    -ms-text-align-last: left;
  } */